<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!-- <servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>bookstore.servlet.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
 -->
    <error-page>
        <location>/Error.jsp</location>
    </error-page>	
	<welcome-file-list>
		<welcome-file>/home</welcome-file>
	</welcome-file-list>
</web-app>